*.o
moc*.cpp
Makefile
*.list
harbour-pollenflug
*_original.png
*.qm

/backup_pollen.tar
/pollenflug.iml
/harbour-pollenflug.pro.user
/rpm/harbour-pollenflug.spec
/.idea/
/sdk-harbour-rpmvalidator/
/RPMS/*.rpm
