*.o
moc*.cpp
Makefile
*.list
harbour-pollenflug
*_original.png
*.qm

/backup_pollen.tar
/pollenflug.iml
/harbour-pollenflug.pro.user
/rpm/harbour-pollenflug.spec
/.idea/
/sdk-harbour-rpmvalidator/
/RPMS/*.rpm
/tests/harbour-pollenflug-tests.pro.user
/build-harbour-pollenflug-tests-Qt_5_9_5_in_PATH_System-Debug/
/build-tests-Qt_5_9_5_in_PATH_System-Debug/
