[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-pollenflug
Exec=harbour-pollenflug
Name=Pollenflug
[X-HarbourBackup]
BackupPathList=.local/share/harbour-pollenflug/
BackupConfigList=/apps/harbour-pollenflug/
